body {
    background-color: #39639e
}

#Title {
    text-indent: -350px;
}


class.parastyle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}

h5 {
    text-indent: -300px;
}
